[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
gitdb = "*"
gitpython = "*"
termcolor = "*"
yaspin = "*"

[dev-packages]
docutils = "*"
mypy = "*"
pex = "*"
pytest-asyncio = "0.15.1"
pytest-cov = "2.12.0"
pytest-watch = "4.2.0"
pytest = "6.2.4"
sphinx = "*"
sphinx-rtd-theme = "*"
typed-ast = "*"
typing-extensions = "*"
types-colorama = "*"

[requires]
python_version = "3.9"